/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Comfortaa-Medium;
    src: url("./assets/font/Comfortaa-Medium.ttf");
}

@font-face {
    font-family: Oxygen-Regular;
    src: url("./assets/font/Oxygen-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Oswald-Medium;
    src: url("./assets/font/Oswald-Medium.ttf");
}

@font-face {
    font-family: Oxygen-Light;
    src: url("./assets/font/Oxygen-Light.ttf");
}

body {
    font-family: 'Oxygen-Regular', sans-serif;
}


/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

.node_modules/bootstrap-icons/font/bootstrap-icons.css */